* {
    background-color: #232325;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 20px;
    font-size: 17px;
    padding: 10px;
    color: rgb(17, 201, 207);
}

.container {
    padding: 5px 20px 15px 20px;
    border: 1px solid #8d8741;
    border-radius: 5px;
}

h6 {
    color: red;
    font-weight: bolder
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="month"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(170, 138, 138);
    border-radius: 5px;
    margin: 10px;
    color: whitesmoke;
}

fieldset {
    border: 1px solid lightblue;
}

.mheading {
    text-align: center;
    color: royalblue;
}

input[type="submit"] {
    background-color: green;
    color: gold;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: auto;
    display: block;
}

input[type="submit"]:hover {
    color: #ff4800;
    border-bottom: 1px dotted;
}
